* {
  box-sizing: border-box;
}
nav {
  background-color: rgba(242, 205, 55, 0.913);
  position: fixed;
  width: 100%;
  display: flex;
  margin-top: -8px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.icondiv {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  width: 100%;
}
.icons {
  margin: 3px;
  width: 30px;
  height: 30px;
}
body {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* line-height: 30px; */
  font-size: larger;
  flex-direction: column;
  align-items: center;
}
header {
  padding: 2vw;
  padding-top: 7vw;
  text-align: center;
}
.desc {
  margin: 1vw 3vw;
  width: clamp(23ch, 70%, 200ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.3vw;
}
.picture {
  width: 100%;
  height: 100%;
}
footer {
  text-align: center;
  margin: 4vw;
  font-size: 1.2vw;
}
